@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap");

/*Global Styles*/
* {
  padding: 0px;
  margin: 0px;
  color: antiquewhite;
  font-family: "Irish Grover", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;
  /* font-size: 24px; */
}
html{
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  min-height: 100%;
  /* background-color: #1e1e1e; */
  background-color: #ffd700;
background-image: linear-gradient(90deg, #ffd700 0%, #aa9632 6%, #1e1e1e 58%);
      

  display: flex;
  flex-direction: column;
  box-sizing: inherit;
  padding-bottom: 60px;
}
/* Centering everything */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Header styling */
.header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  font-size: 24px;
}

a {
  text-decoration: none;
  margin: 0px 20px;
}

.navbar {
  margin-top: 10px;
  margin-right: 100px;
}

/* hover effect on navbar links */
.navbar a:hover{
  color: #f3db07;
  background-color: #3c4043;
  border:#f3db07 solid 2px;
  border-radius: 15px;
  padding: 4px;
  transition: 0.9s;
  
}
.header .logo {
  margin-top: 10px;
}


/* Footer Styling */

.footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 100;
  font-size: 20px;
}


.socialicons a{
  text-decoration: none;
  padding: 1px;
  margin: 10px;
  border-radius: 100%;
}

.socialicons a i{
  font-size: 1em;
  
  opacity: 0.9;
}

.designer{
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

.footerBottom{
  padding-left: 35%;
}
/* hover effect on social icons */

.socialicons a:hover{
  background-color: rgb(119, 118, 118);
  transition: 0.5s;
}

.socialicons a:hover i{
  color: antiquewhite;
  transition: 0.5s;
}

.socialicons a i:hover{
 font-size: 1.5em;
 transition: 0.5s; 
}


.blog{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 50px;
  padding-top: 20px;
}




/*Home page*/

.container{
  display: flex;
  justify-content: center;
  align-items:center; 
 box-sizing: border-box;
 height: 80vh;
}

.txtt{
  font-family: "Irish Grover", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.xxzzz{
  font-size: 35px;
  padding-left: 60px;
  width: 600px;
  padding-top: 30px;
}
.xzzx{
  padding-top: 10px;
}

.bgimg{
  width: 60vh;
}

.button-17 {

  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Irish Grover", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  height: 58px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  /* padding: 0px 130px; */
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
  margin-top: 70px;
  margin-left: 60px;
  width: 200px;
}
.button-17:hover {
  background: #3c4043;
  color: #f3db07;
  transform: translateY(-2px);
  transition: 0.2s;
  transform: scale(1.15);
  transition: 0.8s;
  border: 2px #f3db07 solid;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #f3db07;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.but{
  margin-left: 140px;
  background-color:transparent;
  color: white;
  border: 2px white solid;
  padding: 0px 130px;
}



/*Workount page Styles*/

  /* width: 200px; */
  .ccc{
    display: flex;
    flex-direction: row;
  }

  .ddd{
    margin: 10px;
  }
  .zzz , .btns{
    width: 30px;
    height: 30px;
    background-color: #F6F9FE;
    color: #1e1e1e;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 8px;
    cursor: pointer;
  }
  .btns{
    padding: auto;
    font-size: 15px;
    width: 55px;
    height: 55px;
  }

  .btns .logo{
    color: #1e1e1e;
    scale: 1.5;
    margin-bottom: 4px;
  }

  .btns .logo:hover{
    color: #F6F9FE;
  }
  .zzxxzz{
    color: #1e1e1e;
    padding: 8px;
    font-size: 20px;
    font-weight: bold;
  }
  

  .zxzx:hover{
    cursor: pointer;
  }

  .zxzx{
    justify-content: center;
    align-items: center;
  }
.counter{
  /* background-color: blue ; */
  margin: 20px;
  padding: 30px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Banner_Counter_btns{
  flex-direction: row;
}

.bbimg{
  margin-left: 150px;
  scale:2;
}

.AddCounterBtn{
  background-color:white;
  font-size: 20px;
  font-weight: bold;
  color: #3c4043;
  padding: 8px;
  border-radius: 18px;
  height: 43px;
  margin: 20px;
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 22px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Irish Grover", "Arial Narrow", Arial, sans-serif;

  
}

.AddCounterBtn:hover , .zzz:hover , .btns:hover{
  background:#3c4043;
  color: #f3db07;
  transform: translateY(-2px);
  transition: 0.2s;
  /* transform: scale(1.15); */
  transition: 0.8s;
  border: 2px #f3db07 solid;
}

.save_delete{

  padding: 10px 10px;
}


.save_delete .zozo{
  margin-left: 40px;
  scale:1.2;
}
.save_delete .bobo{
  scale: 1.2;
}

/*Banner in the workout page*/
.banner {
  background-color: #fff;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  cursor: pointer;
  /* border: 2px #f3db07 solid; */
  cursor: pointer;
  border-radius: 30px;
  width: 300px;
}
.banner span {
  color: black;
}

.banner-input {
  font-size: 24px;
  padding: 10px;
  width: 100%; 
  box-sizing: border-box;
  color: black; /* Default color */
}

.banner-input:focus {
  color: black; /* Change color when focused */
}

.banner:hover{
  background-color: #3c4043;
  border: 2px #f3db07 solid;
  transform: scale(1.15);
  transition: 0.8s;
}
.banner-input {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}


.AddBannerBtn {
  background-color: #fff;
  font-size: 20px;
  font-weight: bold;
  color: #3c4043;
  padding: 8px;
  border-radius: 18px;
  height: 43px;
  margin: 20px;
  align-items: center;
  appearance: none;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Irish Grover", "Arial Narrow", Arial, sans-serif;
}

.AddBannerBtn:hover {
  background: #3c4043;
  color: #f3db07;
  transform: translateY(-2px);
  transition: 0.2s;
  transform: scale(1.15);
  transition: 0.8s;
  border: 2px #f3db07 solid;
}


.txtt {
  scale: 0.85;
}